body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #008000;
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto 10px auto;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #2e8b57;
    margin-bottom: 10px;
}

#brasileirao-section {
    background-color: #e6f7ff;
    color: #0056b3;
}

#champions-section {
    background-color: #f0fff0;
    color: #228b22;
}

#libertadores-section {
    background-color: #fff8e1;
    color: #b8860b;
}

#copadomundo-section {
    background-color: #f5f5f5;
    color: #696969;
}

#eurocopa-section {
    background-color: #ffe4e1;
    color: #dc143c;
}

#mundialclubes-section {
    background-color: #f0e68c;
    color: #8b4513;
}

section p {
    text-align: left;
}
