body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #9eff9e;
}

h1 {
    color: #008000;
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto 10px auto;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

#brasileirao-section {
    background-color: #ffe873;
    color: #007bff;
}

#champions-section {
    background-color: #fdd835;
    color: #3f51b5;
}

#libertadores-section {
    background-color: #e91e63;
    color: #ffffff;
}

#copadomundo-section {
    background-color: #64b5f6;
    color: #ffc107;
}

#eurocopa-section {
    background-color: #2196f3;
    color: #f44336;
}

#mundialclubes-section {
    background-color: #a1887f;
    color: #ffffff;
}

section p {
    text-align: left;
}
